:root {
    font-size: 10px;
    --colorText: #ede6f0;
    --colorBoxGlow: #b151c3;
    --colorBoxBorder: #b047d3;
    --sizeBoxBorder: 0.2rem;
    --columnCount: 4;
    --moveEntryWidth: calc((100% / var(--columnCount)) - (0.25rem * (var(--columnCount) - 1)));
    --fontSizeBase: 1.5rem;
    --fontSizeHeader: 2.2rem;
    --fontSizeNote: 1.6rem;
    --fontSizeMoveInput: 2.3rem;
    --fontSizeMoveName: 2rem;
    --moveListHeight: calc(100svh - 1rem);

    --colorMoveUnique: #fcd63f;
    --colorMoveAnyBright: #ede6f1;
    --colorMoveAnyDark: #969696;
    --colorMoveMiscBright: #ede6f1;
    --colorMoveMiscDark: #222123;
    --colorMoveLightBright: #76d4dd;
    --colorMoveLightDark: #1f4c5f;
    --colorMoveMediumBright: #dfda5c;
    --colorMoveMediumDark: #635f1d;
    --colorMoveHeavyBright: #f39399;
    --colorMoveHeavyDark: #7f2628;
    --colorMoveMisc: #d6d3d8;
    --colorDriveBright: #44ff00;
    --colorDriveDark: #178100;
    --colorSuperBright: #ebe4ee;
    --colorSuperDark: #f63b95;
    --colorNote: #c5ade4;

    --colorModeClassicBorderOuter: #efdff7;
    --colorModeClassicBorderInner: #7c06e0;
    --colorModeClassicBacker: #2b004a;
    --colorModeClassicCharacter: #efdff7;

    --colorDriveBrightHover: #83ff56;
}

html {
    margin: 0rem;
    padding: 0rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #070213;
}

body {
    margin: 0rem;
    padding: 0rem;
    font-size: var(--fontSizeBase);
    color: var(--colorText);
}

#toolOptions {
    margin: 0rem auto 2rem auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

h1 {
    font-size: 3rem;
    line-height: 3rem;
    margin: 0.6rem 0rem 0.6rem 0rem;
    border-top: var(--sizeBoxBorder) solid var(--colorBoxBorder);
    border-bottom: var(--sizeBoxBorder) solid var(--colorBoxBorder);
    padding: 0.6rem 1.2rem 0.8rem 1.2rem;
    background-image: linear-gradient(to right, rgba(43, 19, 57, 0), rgba(43, 19, 57, 1), rgba(43, 19, 57, 1), rgba(43, 19, 57, 1), rgba(43, 19, 57, 0.0));
    color: #ffffff;
    text-shadow: 0rem 0rem 0.6rem #b83bc9;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
}

p {
    margin: 0.2rem 0rem 1rem 0rem;
}

a {
    text-decoration: none;
}

a:link, a:active {
    color: var(--colorDriveBright);
    font-weight: bold;
}

a:visited {
    color: var(--colorDriveBright);
}

a:hover {
    color: var(--colorDriveBrightHover);
}

a:active {
    color: var(--colorDriveBright);
}

select {
    color: var(--colorText);
    background-image: linear-gradient(to right, #420862, #24007f, #24007f, #24007f, #420863);    
    font-size: 2rem;
    font-weight: bold;
    padding: 0.6rem;
    border: var(--sizeBoxBorder) solid var(--colorBoxBorder);
    width: 16rem;
}

option {
    color: var(--colorText);
    background-color: black;
}

.meterCostContainer {
    position: absolute;
    top: 0.2rem;
    right: 1rem;
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    height: 3rem;
}

.meterCostContainerParry {
    right: 0.2rem;
}

.iconMeterDrain {
    width: 3rem;
    height: 3rem;
    fill: var(--colorMoveAnyBright);
}

.iconMeterCost {
    fill: var(--colorDriveDark);
    stroke: var(--colorDriveBright);
    stroke-width: 0.6rem;
    width: 3rem;
    height: 3rem;
    margin: 0rem 0.6rem 0rem 0rem;
}

.iconMeterCostSuper {
    fill: var(--colorSuperDark);
    stroke: var(--colorSuperBright);    
}

.iconOr {
    width: var(--fontSizeMoveInput);
    height: var(--fontSizeMoveInput);
    line-height: var(--fontSizeMoveInput);
    margin: 0rem 0.2rem;
}

.iconArrow {
    width: var(--fontSizeMoveInput);
    height: var(--fontSizeMoveInput);
    margin: 0rem 0.2rem;
}

.iconCancelArrow {
    width: calc(var(--fontSizeMoveInput) * 0.55);
    height: calc(var(--fontSizeMoveInput) * 0.55);
    margin: 0rem 0.6rem;
}

.iconPlus {
    width: calc(var(--fontSizeMoveInput) * 0.65);
    height: calc(var(--fontSizeMoveInput) * 0.65);
    margin: 0rem 0.6rem;
}

.iconAuto {
    width: var(--fontSizeMoveInput);
    height: var(--fontSizeMoveInput);
    margin: 0rem 0.2rem;    
}

.iconAuto path
{
    fill: #fbf9ff;
}

.iconAuto path:nth-child(2)
{
    fill: #36333e;
}

.iconDriveParry, .iconDriveImpact {
    width: var(--fontSizeMoveInput);
    height: var(--fontSizeMoveInput);
    margin: 0rem 0.2rem;    
}

.iconDriveParry path
{
    fill: #fbf9ff;
}

.iconDriveParry path:nth-child(2)
{
    fill: #00459a;
}

.iconDriveImpact path
{
    fill: #fbf9ff;
}

.iconDriveImpact path:nth-child(2)
{
    fill: #007496;
}

.iconSpecial {
    width: var(--fontSizeMoveInput);
    height: var(--fontSizeMoveInput);
    margin: 0rem 0.2rem;    
}

.iconSpecial path
{
    fill: #fbf9ff;
}

.iconSpecial path:nth-child(2)
{
    fill: #d85f09;
}

.icon360 {
    width: var(--fontSizeMoveInput);
    height: var(--fontSizeMoveInput);
    margin: 0rem 0.2rem;
}

.iconNeutral {
    width: var(--fontSizeMoveInput);
    height: var(--fontSizeMoveInput);
    margin: 0rem 0.2rem;
}

.iconPunchKick {
    width: var(--fontSizeMoveInput);
    height: var(--fontSizeMoveInput);
    margin: 0rem 0.2rem;
}

.iconHold {
    width: var(--fontSizeMoveInput);
    height: var(--fontSizeMoveInput);
    margin: 0rem 0.2rem;
}

.moveNotes .iconPunchKick, .moveNotes .iconArrow {
    width: var(--fontSizeNote);
    height: var(--fontSizeNote);
}

.colorMoveUnique {
    fill: var(--colorMoveUnique);
}

.colorMoveMisc {
    fill: var(--colorMoveMisc);
}

.colorMoveMiscBright {
    fill: var(--colorMoveMiscBright);
}

.colorMoveMiscDark {
    fill: var(--colorMoveMiscDark);
}

.colorMoveAnyBright {
    fill: var(--colorMoveAnyBright);
}

.colorMoveAnyDark {
    fill: var(--colorMoveAnyDark);
}

.colorMoveLightBright {
    fill: var(--colorMoveLightBright);
}

.colorMoveLightDark {
    fill: var(--colorMoveLightDark);
}

.colorMoveMediumBright {
    fill: var(--colorMoveMediumBright);
}

.colorMoveMediumDark {
    fill: var(--colorMoveMediumDark);
}

.colorMoveHeavyBright {
    fill: var(--colorMoveHeavyBright);
}

.colorMoveHeavyDark {
    fill: var(--colorMoveHeavyDark);
}

.moveName {
    font-weight: bold;
    font-size: var(--fontSizeMoveName);
    line-height: var(--fontSizeMoveName);
}

.moveNameHasMeterCost {
    width: calc(100% - 5.0rem);
    font-size: calc(var(--fontSizeMoveName) * 0.8);
    line-height: calc(var(--fontSizeMoveName) * 0.8);
}

.moveNameHasBothMeterCost {
    width: calc(100% - 12.5rem);
    font-size: calc(var(--fontSizeMoveName) * 0.7);
    line-height: calc(var(--fontSizeMoveName) * 0.7);
}

.moveInput {
    font-size: var(--fontSizeMoveInput);
    display: flex;
    align-items: center;
    margin: 0.4rem 0.0rem 0.4rem 0rem;
    flex-wrap: wrap;
}

svg {
    flex-shrink: 0;
}

.moveNotes {
    color: var(--colorNote);
    font-size: var(--fontSizeNote);
    display: flex;
    align-items: center;
}

#moveListContent {
    display: flex;
    flex-direction: column;
    height: var(--moveListHeight);
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    padding: 1rem 1rem 0rem 1rem;
    box-sizing: border-box;
}

.moveContainer {
    background-color: #24007e;
    padding: 0.75rem 0.5rem 0.75rem 0.5rem;
    text-shadow: 0.1rem 0.1rem 0rem rgba(0, 0, 0, 0.5);
    border: var(--sizeBoxBorder) solid var(--colorBoxBorder);
    box-shadow: 0rem 0rem 0.8rem #b151c3;
    background-image: linear-gradient(to right, #420862, #24007f, #24007f, #24007f, #420863);
    position: relative;
    width: var(--moveEntryWidth);
    box-sizing: border-box;
}

.moveListHeader {
    display: block;
    border-top: var(--sizeBoxBorder) solid var(--colorBoxBorder);
    border-bottom: var(--sizeBoxBorder) solid var(--colorBoxBorder);
    padding: 0.2rem 1rem;
    background-image: linear-gradient(to right, rgba(43, 19, 57, 0), rgba(43, 19, 57, 1), rgba(43, 19, 57, 1), rgba(43, 19, 57, 1), rgba(43, 19, 57, 0.0));
    color: #ffffff;
    text-shadow: 0rem 0rem 0.6rem #b83bc9;
    font-size: var(--fontSizeHeader);
    font-weight: bold;
    text-align: center;
    width: var(--moveEntryWidth);
    box-sizing: border-box;
}

.modeSelectButton, #gotoMoveList {
    font-size: 2rem;
    color: #c820c5;
    background-color: #271234;
    text-shadow: 0rem 0rem 0.4rem rgba(0, 0, 0, 0.5);
    border: var(--sizeBoxBorder) solid #e734e4;
    width: 16rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    cursor: pointer;
}

#gotoMoveList {
    width: 5rem;
    height: 4rem;
}

#gotoMoveList .iconCancelArrow {
    width: 2.2rem;
    height: 2.2rem;
}

.modeSelectButton svg {
    width: 2.6rem;
    height: 2.6rem;
    fill-rule: evenodd;
}

#modeSelectClassic svg path:nth-child(1)
{
    fill: #efdff7;
}

#modeSelectClassic svg path:nth-child(2)
{
    fill: #9c2aff;
}

#modeSelectClassic svg path:nth-child(3)
{
    fill: #2b0546;
}

#modeSelectClassic svg path:nth-child(4)
{
    fill: #efdff7;
}

#modeSelectModern svg {
    margin-right: 0.2rem;
}

#modeSelectModern svg path:nth-child(1)
{
    fill: #efdff7;
}

#modeSelectModern svg path:nth-child(2)
{
    fill: #fd711a;
}

#modeSelectModern svg path:nth-child(3)
{
    fill: #481b00;
}

#modeSelectModern svg path:nth-child(4)
{
    fill: #efdff7;
}

.modeSelectButton.selected {
    box-shadow: 0rem 0rem 2.4rem #861386;
    background-color: #971fbe;
    border-color: #d670f6;
    color: white;
}

/* Footer */
/* ======================================= */

#footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    max-width: 80rem;
}

#footer p {
    text-align: center;
    margin: 0rem;
}

#footerLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.linkIconSVG {
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
}

.linkIconSVG path {
    fill: var(--colorDriveBright);
	stroke-width: 1rem;
	stroke: var(--colorBG);
	fill-rule: evenodd;
	paint-order: stroke;
}

a:hover .linkIconSVG path {
    fill: var(--colorDriveBrightHover);
}

/* Let's figure out some mobile support... */


@media screen and (max-aspect-ratio: 0.549)
{
    :root {
        --columnCount: 2;
    }
}

@media screen and (min-aspect-ratio: 0.5491) and (max-aspect-ratio: 1)
{
    :root {
        --columnCount: 3;
    }
}

@media screen and (min-aspect-ratio: 1.5)
{
    :root {
        --columnCount: 5;
    }
}


@media screen and (max-width: 300px)
{
    :root {
        font-size: 3px;

        --fontSizeHeader: 2rem;
        --fontSizeNote: 1.4rem;
        --fontSizeMoveInput: 2rem;
        --fontSizeMoveName: 1.9rem;
    }
}

@media screen and (min-width: 301px) and (max-width: 400px)
{
    :root {
        font-size: 4px;

        --fontSizeHeader: 2rem;
        --fontSizeNote: 1.5rem;
        --fontSizeMoveInput: 2rem;
        --fontSizeMoveName: 1.9rem;
    }

    #moveListContent {
        gap: 0.5rem;
    }
}

@media screen and (min-width: 401px) and (max-width: 600px)
{
    :root {
        font-size: 5px;

        --fontSizeHeader: 2rem;
        --fontSizeNote: 1.5rem;
        --fontSizeMoveInput: 2rem;
        --fontSizeMoveName: 2rem;
    }

    #moveListContent {
        gap: 0.6rem;
    }
}

@media screen and (min-width: 601px) and (max-width: 800px)
{
    :root {
        font-size: 6px;

        --fontSizeHeader: 2.1rem;
        --fontSizeNote: 1.5rem;
        --fontSizeMoveInput: 2rem;
        --fontSizeMoveName: 2rem;
    }

    #moveListContent {
        gap: 0.7rem;
    }

}

@media screen and (min-width: 801px) and (max-width: 1100px)
{
    :root {
        font-size: 7px;
    }
}

@media screen and (min-width: 1101px) and (max-width: 1400px)
{
    :root {
        font-size: 8px;
    }
}